<% @favorites.each do |favorite| %>
<% if favorite.user.id == current_user.id %>
  <div class="col-md-4">
    <div class="thumbnail">
      <% if favorite.picture.image && favorite.picture.image.url %>
        <p>Image</p>
        <%= image_tag(favorite.picture.image.url(:gallery)) %>
      <% else %>
        <%= image_tag %q(no_image.png), class: %q(no-image) %>
      <% end %>
      <div class="caption">
        <h4>投稿者:<%= favorite.picture.user.name %><h4>
        <h4>タイトル:<%= favorite.picture.title %></h4>
        <p>記事</p>
        <p><%= favorite.picture.content %><p>
        <p><%= link_to %q(Release), favorite_path(id: favorite.id), method: :delete, class: %q(btn btn-danger) %></p>
      </div>
    </div>
  </div>
<% end %>
<% end %>
