<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <h2><%= @user.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <p><%= form.label :Image %></p>
    <p><%= image_tag(@user.image.url(:gallery)) if @user.image && @user.image.url %><p>
    <p><%= form.file_field :image , class: %q(btn btn-default) %></p>
  </div>
  <div class="form-group">
    <%= form.submit "Remove image", name: %q(remove_image), class: %q(btn btn-danger) %>
  </div>
  <div class="form-group">
    <%= form.label :Name %>
    <%= form.text_field :name, class: %q(form-control) %>
  </div>
  <div class="form-group">
    <%= form.label :Email %>
    <%= form.text_field :email, class: %q(form-control) %>
  </div>
  <div class="form-group">
    <%= form.label :Profile %>
    <%= form.text_area :profile, class: %q(form-control) , rows:8 %>
  </div>
  <div class="form-group">
    <p><%= form.submit %q(Open your profile), class: %q(btn btn-primary) %></p>
  </div>
<% end %>

<p><%= link_to %q(Return), user_path(current_user.id), name: %q(return), class: %q(btn btn-primary) %></p>
