<div class="wrapper-profile">
<h4><strong><%= @user.name %>さんのプロフィール</strong></h4>

<table class="table table-striped">
  <tr class="img-profile">
    <th colspan="2">
      <% if @user.image.present? %>
        <%= image_tag @user.image.url(:gallery), class: %q(img-circle) %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
  <% if @user.id == current_user.try(:id) %>
  <tr>
    <th>email</th>
    <td><%= @user.email %></td>
  </tr>
  <% end %>
  <tr>
    <th>プロフィール</th>
    <td><%= safe_join(@user.profile.split(%Q(\n)),tag(:br)) if @user.profile.present? %></td>
  </tr>
</table>


<ul class="list-group">
  <% if @user.id == current_user.try(:id) %>
  <li><%= link_to %q(Edit your profile), edit_user_path, class: %q(list-group-item list-group-item-action list1) %></li>
  <% end %>
  <li><%= link_to %q(Go to Index), pictures_path, class: %q(list-group-item list-group-item-action list2) %></li>
</ul>
</div>
