<%= form_with(model: @picture, url: choose_new_or_edit, local: true) do |form| %>
  <% if @picture.errors.any? %>
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @picture.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div class=%q(form-group)>
    <%= form.label :Title %>
    <%= form.text_field :title, class: %q(form-control) %>
  </div>
  <div class=%q(form-group)>
    <%= form.label :Content %>
    <%= form.text_area :content, class: %q(form-control) , rows:8 %>
  </div>
  <div class=%q(form-group)>
    <%= form.label :Image %>
    <%= image_tag(@picture.image.url(:gallery)) if @picture.image && @picture.image.url %>
    <%= form.file_field :image , class: %q(btn btn-default) %>
    <%= form.hidden_field :image_cache %>
  </div>
  <% unless action_name == %q(new) || action_name == %q(create)|| action_name == %q(confirm) %>
  <div class="form-group">
    <%= form.submit "Remove image", name: %q(remove_image), class: %q(btn btn-danger delete-image) %>
  </div>
  <% end %>
  <div class=%q(form-group)>
    <%= form.submit %q(Post!), class: %q(btn btn-primary new-post)%>
  </div>
<% end %>
