<h1>記事一覧</h1>

<h3><%= current_user.name %>さん、おはようございます！</h3>

<p><%= link_to "記事作成", new_picture_path, class: "btn btn-primary" %><p>
<p><%= link_to "お気に入り一覧", favorites_path %></p>

<div class="row">
  <% @pictures.each do |picture| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <% if picture.image.present? %>
          <%= image_tag picture.image.url(:gallery) if picture.image.present? %>
        <% else %>
          <%= image_tag %q(no_image.png), class: %q(no-image) %>
        <% end %>
        <div class="caption">
          <h4>タイトル:<%= picture.title %></h4>
          <h5>投稿者:<%= link_to picture.user.name, user_path(picture.user.id) %><h5>
          <p>
            <%= link_to "show", picture_path(picture.id), class: %q(btn btn-primary) %>
            <% if picture.user.id == current_user.id %>
              <%= link_to "edit", edit_picture_path(picture.id), class: %q(btn btn-primary) %>
              <%= link_to "destroy", picture_path(picture.id), method: :delete, data: { confirm: "本当に削除しても良いですか？"}, class: %q(btn btn-danger)  %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
