<h2>All Posts</h2>
<div class="row">
  <% @pictures.each do |picture| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <% if picture.image.present? %>
          <%= image_tag picture.image.url(:gallery) if picture.image.present? %>
        <% else %>
          <%= image_tag %q(no_image.png), class: %q(no-image) %>
        <% end %>
        <div class="caption">
          <h4>Title:<%= picture.title %></h4>
          <h5>Author:<%= link_to picture.user.name, user_path(picture.user.id) %><h5>
          <p>
            <%= link_to %q(show), picture_path(picture.id), class: %q(btn btn-primary) %>
            <% if picture.user.id == current_user.try(:id) %>
              <%= link_to %q(edit), edit_picture_path(picture.id), class: %q(btn btn-primary) %>
              <%= link_to %q(destroy), picture_path(picture.id), method: :delete, data: { confirm: %q(本当に削除しても良いですか？)}, class: %q(btn btn-danger) %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
