<h2><%= @picture.user.name%>さんのPost</h2>

<h3>Title:<%= @picture.title %></h3>
<p>Content:<%= @picture.content %></p>
<p>
  <strong>Image:</strong>
  <% if @picture.image.present? %>
    <%= image_tag @picture.image.url(:gallery) %>
  <% end %>
</p>

<% unless @picture.user_id == current_user.try(:id) %>
  <% if @favorite.present? %>
    <%= link_to %q(Release), favorite_path(id: @favorite.id), method: :delete, class: %q(btn btn-danger) %>
  <% elsif current_user == nil %>
  <% else %>
    <%= link_to %q(Favorite!), favorites_path(picture_id: @picture.id), method: :post, class: %q(btn btn-primary) %>
  <% end %>
<% end %>
<% if @picture.user.id == current_user.try(:id) %>
  <%= link_to %q(Edit), edit_picture_path(@picture.id), class: %q(btn btn-primary) %>
<% end %>

<%= link_to %q(Return), pictures_path, class: %q(btn btn-primary return-edit) %>
