<!DOCTYPE html>
<html>
  <head class>
    <title>Extagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <header class="page-header">
    <% if logged_in? %>
      <%= link_to %q(Extagram), pictures_path, class: %q(logo) %>
      <ul>
        <li><%= link_to %q(My Profile), user_path(current_user.id), class: %q(btn btn-primary) %></li>
        <li><%= link_to %q(New Post), new_picture_path, class: %q(btn btn-primary) %></li>
        <li><%= link_to %q(View Posts), pictures_path, class: %q(btn btn-default) %></li>
        <li><%= link_to %q(My Favorites), favorites_path, class: %q(btn btn-default) %></li>
        <li><%= link_to %q(Logout), session_path(current_user.id), method: :delete, class: %q(btn btn-danger) %></li>
      </ul>
    <% else %>
      <%= link_to %q(Extagram), pictures_path, class: %q(logo) %>
      <ul>
        <li><%= link_to %q(Signup), new_user_path, class: %q(btn btn-default) %></li>
        <li><%= link_to %q(Login), new_session_path, class: %q(btn btn-default) %></li>
      </ul>
    <% end %>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: %Q(key)) %>
    <% end %>
    <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>
